<div class="main-content">
    <h2 class="text-2xl m-0 mb-5 mt-8 font-bold">{{ title | translate}}</h2>
    <form *ngIf="form" [formGroup]="form" class="container studadvice box-mainLook">
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'Le titre est obligatoire'"
                    [error]="hasError('title', 'required')"
                    [hideLabel]="false"
                    [idInput]="'title'"
                    [id]="'title'"
                    [inputFormControl]="getFormControl('name')!"
                    [minLength]="'5'"
                    [nameInput]="'Titre'"
                    [placeholder]="'Titre de la démarche'"
                    [required]="true"
                    [type]="'text'"
            >
                <app-input-label class="font-bold">Titre</app-input-label>
            </app-input>
        </div>
        <!-- nationalite -->
        <div class="item-form">
            <app-input-select
                    [bindLabel]="'label'"
                    [bindValue]="'value'"
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'La nationalité est obligatoire'"
                    [hasLabel]="true"
                    [id]="'nationality'"
                    [inputFormControl]="getFormControl('nationalities')!"
                    [multiple]="true"
                    [options]="countries"
            >
                <label class="font-bold">Nationalité</label>
            </app-input-select>
        </div>
        <!-- universite -->
        <div class="item-form">
            <app-input-select
                    [bindLabel]="'label'"
                    [bindValue]="'value'"
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'L\'université est obligatoire'"
                    [hasLabel]="true"
                    [id]="'university'"
                    [inputFormControl]="getFormControl('universities')!"
                    [multiple]="true"
                    [options]="universities"
            >
                <label class="font-bold">Université</label>
            </app-input-select>
        </div>
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'La description est obligatoire'"
                    [error]="hasError('description', 'required')"
                    [hideLabel]="false"
                    [idInput]="'description'"
                    [id]="'description'"
                    [inputFormControl]="getFormControl('description')!"
                    [minLength]="'5'"
                    [nameInput]="'Description'"
                    [placeholder]="'Description de la démarche'"
                    [type]="'textarea'"
            >
                <app-input-label class="font-bold">Description</app-input-label>
            </app-input>
        </div>
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="false"
                    [hideLabel]="false"
                    [idInput]="'image'"
                    [id]="'image'"
                    [accept]="'image/*'"
                    [nameInput]="'image'"
                    [placeholder]="'L\'image de la démarche'"
                    [type]="'file'"
                    [required]="true"
                    (change)="handleFileChangeForProcess($event)">
                <app-input-label class="font-bold">Image</app-input-label>
            </app-input>
        </div>
        <!-- min age align with max age -->
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'L\'âge minimum est obligatoire'"
                    [error]="hasError('minAge', 'required')"
                    [hideLabel]="false"
                    [idInput]="'minAge'"
                    [id]="'minAge'"
                    [inputFormControl]="getFormControl('minAge')!"
                    [minLength]="'5'"
                    [nameInput]="'Âge minimum'"
                    [placeholder]="'Âge minimum'"
                    [required]="true"
                    [type]="'number'"
            >
                <app-input-label class="font-bold">Âge minimum</app-input-label>
            </app-input>
        </div>
        <!-- max age align with min age -->
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'L\'âge maximum est obligatoire'"
                    [error]="hasError('maxAge', 'required')"
                    [hideLabel]="false"
                    [idInput]="'maxAge'"
                    [id]="'maxAge'"
                    [inputFormControl]="getFormControl('maxAge')!"
                    [minLength]="'5'"
                    [nameInput]="'Âge maximum'"
                    [placeholder]="'Âge maximum'"
                    [required]="true"
                    [type]="'number'"
            >
                <app-input-label class="font-bold">Âge maximum</app-input-label>
            </app-input>
        </div>
        <div formArrayName="steps">
            <div *ngFor="let etape of steps.controls; let etapeIndex = index; let c = count">
                <div [formGroupName]="etapeIndex">
                    <div class="item-form">
                        <app-input
                                [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                [clearable]="true"
                                [errorMessage]="'Le titre de l\'étape est obligatoire'"
                                [error]="hasError('titre', 'required')"
                                [hideLabel]="false"
                                [idInput]="'name ' + etapeIndex"
                                [id]="'name ' + etapeIndex"
                                [inputFormControl]="getControl(etape, 'name')!"
                                [minLength]="'5'"
                                [nameInput]="'Titre Etape ' + (etapeIndex + 1)"
                                [placeholder]="'Titre de l\'étape ' + (etapeIndex + 1)"
                                [required]="true"
                                [type]="'text'"
                        >
                            <app-input-label class="font-bold">Titre Etape {{etapeIndex + 1}}</app-input-label>
                        </app-input>
                    </div>
                    <!-- numero de l'etape -->
                    <div class="item-form">
                        <app-input
                                [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                [errorMessage]="'La description de l\'étape est obligatoire'"
                                [error]="hasError('description', 'required')"
                                [idInput]="'{{i}}'"
                                [id]="'description'"
                                [inputFormControl]="getControl(etape, 'description')!"
                                [nameInput]="'Description Etape ' + (etapeIndex + 1)"
                                [placeholder]="'Description de l\'étape ' + (etapeIndex + 1)"
                                [required]="true"
                                [type]="'textarea'"
                                formControlName="description">
                            <app-input-label class="font-bold">Description Etape {{etapeIndex + 1}}</app-input-label>
                        </app-input>
                    </div>
                    <div class="item-form">
                        <app-input-select
                                [bindLabel]="'label'"
                                [bindValue]="'value'"
                                [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                [clearable]="true"
                                [errorMessage]="'Liste des documents obligatoire'"
                                [hasLabel]="true"
                                [id]="'documents'"
                                [inputFormControl]="getControl(etape, 'requiredDocuments')!"
                                [multiple]="true"
                                [options]="documents"
                                [required]="false"
                        >
                            <label class="font-bold">Documents Etape {{etapeIndex + 1}}</label>
                        </app-input-select>
                    </div>
                    <div class="item-form flex space-between items-center justify-center">
                        <app-button
                                (save)="deleteStep(etapeIndex)"
                                [disabled]="steps.controls.length <= 0"
                                [icon]="''"
                                [title]="'Supprimer l\'étape'"
                                [tooltip]="'Supprimer l\'étape'"
                        ></app-button>
                        <app-button #addResourceButton
                                    (save)="addResource(etapeIndex)"
                                    *ngIf="etapeIndex === steps.controls.length - 1"
                                    [icon]="''"
                                    [title]="'Ajouter une ressource'"
                                    [tooltip]="'Ajouter une ressource'"
                        ></app-button>
                    </div>
                    <!-- resources -->
                    <div formArrayName="resources">
                        <div *ngFor="let resource of getResources(etapeIndex).controls; let resourcesIndex = index; let c = count">
                            <div [formGroupName]="resourcesIndex">
                                <div class="item-form">
                                    <app-input
                                            [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                            [clearable]="true"
                                            [errorMessage]="'Le titre de la resource est obligatoire'"
                                            [error]="hasError('titre', 'required')"
                                            [hideLabel]="false"
                                            [idInput]="'name ' + resourcesIndex"
                                            [id]="'name ' + resourcesIndex"
                                            [inputFormControl]="getControl(resource, 'name')!"
                                            [minLength]="'5'"
                                            [nameInput]="'nom resource ' + resourcesIndex"
                                            [placeholder]="'Nom de la resource ' + (resourcesIndex + 1)"
                                            [required]="true"
                                            [type]="'text'"
                                    >
                                        <app-input-label class="font-bold">Nom de la
                                            resource {{resourcesIndex + 1}}</app-input-label>
                                    </app-input>
                                </div>
                                <div class="item-form">
                                    <app-input
                                            [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                            [errorMessage]="'La description de la ressource est obligatoire'"
                                            [error]="hasError('description', 'required')"
                                            [idInput]="'{{i}}'"
                                            [id]="'description'"
                                            [inputFormControl]="getControl(resource, 'description')!"
                                            [nameInput]="'Description de la ressource ' + (resourcesIndex + 1)"
                                            [placeholder]="'Description de la ressource ' + (resourcesIndex + 1)"
                                            [required]="true"
                                            [type]="'textarea'"
                                            formControlName="description">
                                        <app-input-label class="font-bold">Description de la
                                            resource {{resourcesIndex + 1}}</app-input-label>
                                    </app-input>
                                </div>
                                <div class="item-form">
                                    <app-input
                                            [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                            [clearable]="false"
                                            [errorMessage]="'Le lien est obligatoire'"
                                            [error]="hasError('url', 'required')"
                                            [hideLabel]="false"
                                            [idInput]="'lien ' + resourcesIndex"
                                            [id]="'lien ' + resourcesIndex"
                                            [inputFormControl]="getControl(resource, 'url')!"
                                            [linkText]="getControl(resource, 'url')!.value"
                                            [minLength]="'5'"
                                            [nameInput]="'Lien de la ressource ' + (resourcesIndex + 1)"
                                            [placeholder]="'Lien de l\'étape ' + (resourcesIndex + 1)"
                                            [previewable]="true"
                                            [required]="true"
                                            [type]="'text'"
                                    >
                                        <app-input-label class="font-bold">Lien de la
                                            ressource {{resourcesIndex + 1}}</app-input-label>
                                    </app-input>
                                </div>
                                <div class="item-form">
                                    <app-input
                                            [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                            [clearable]="false"
                                            [hideLabel]="false"
                                            [idInput]="'image ' + resourcesIndex"
                                            [id]="'image ' + resourcesIndex"
                                            [accept]="'image/*'"
                                            [nameInput]="'image de la ressource ' + (resourcesIndex+1)"
                                            [placeholder]="'image de la ressource ' + (resourcesIndex+1)"
                                            [type]="'file'"
                                            (change)="handleFileChange($event, etapeIndex, resourcesIndex)">
                                        <app-input-label class="font-bold">L'image de la ressource {{resourcesIndex + 1}}</app-input-label>
                                    </app-input>
                                </div>
                                <div class="item-form flex space-between items-center justify-center">
                                    <app-button
                                            (save)="deleteResource(etapeIndex, resourcesIndex)"
                                            [disabled]="getResources(etapeIndex).controls.length <= 0"
                                            [icon]="faTrash"
                                            [title]="'Supprimer la ressource'"
                                            [tooltip]="'Supprimer la ressource'"
                                    ></app-button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item-form flex space-between items-center justify-center">
                <app-button #submitButton (save)="submit()"
                            [disabled]="!form.valid"
                            [icon]="faSave"
                            [title]="'Enregistrer'"
                            [tooltip]="'Enregistrer'"
                ></app-button>
                <app-button #addStepButton (save)="addStep()"
                            [icon]="''"
                            [title]="'Ajouter une étape'"
                            [tooltip]="'Ajouter une étape'"
                ></app-button>
            </div>
        </div>
    </form>
</div>