<div class="main-content">
    <h2 class="text-2xl m-0 mb-5 font-bold">AJOUTER UNE DEMARCHE</h2>
    <form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form" class="container studadvice">
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'Le titre est obligatoire'"
                    [hideLabel]="false"
                    [idInput]="'title'"
                    [id]="'title'"
                    [inputFormControl]="titleFormControl"
                    [error]="hasError('title', 'required')"
                    [maxLength]="'50'"
                    [minLength]="'5'"
                    [nameInput]="'Titre'"
                    [placeholder]="'Titre de la démarche'"
                    [required]="true"
                    [type]="'text'"
            >
                <app-input-label class="font-bold">Titre</app-input-label>
            </app-input>-
        </div>
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'La description est obligatoire'"
                    [error]="hasError('description', 'required')"
                    [hideLabel]="false"
                    [idInput]="'description'"
                    [id]="'description'"
                    [inputFormControl]="descriptionFormControl"
                    [minLength]="'5'"
                    [nameInput]="'Description'"
                    [placeholder]="'Description de la démarche'"
                    [type]="'textarea'"
            >
                <app-input-label class="font-bold">Description</app-input-label>
            </app-input>
        </div>
        <div class="item-form">
            <app-input-select
                    [bindLabel]="'label'"
                    [bindValue]="'label'"
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'liste de documents obligatoire'"
                    [hasLabel]="true"
                    [id]="'documents'"
                    [inputFormControl]="documentsFormControl"
                    [multiple]="true"
                    [options]="options"
                    [required]="false"
            >
                <label class="font-bold">Documents</label>
            </app-input-select>
        </div>
        <div formArrayName="etapes">
            <div *ngFor="let etape of formData.controls; let i = index; let c = count">
                <div [formGroupName]="i">
                    <div class="item-form">
                        <app-input
                                [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                [clearable]="true"
                                [errorMessage]="'Le titre de l\'étape est obligatoire'"
                                [error]="hasError('titre', 'required')"
                                [hideLabel]="false"
                                [idInput]="'title ' + i"
                                [inputFormControl]="getControl(etape, 'titre')!"
                                [id]="'title ' + i"
                                [maxLength]="'10'"
                                [nameInput]="'Titre Etape ' + (i+1)"
                                [placeholder]="'Titre de l\'étape ' + (i+1)"
                                [minLength]="'5'"
                                [type]="'text'"
                                [required]="true"
                        >
                            <app-input-label class="font-bold">Titre Etape {{i + 1}}</app-input-label>
                        </app-input>
                    </div>

                    <div class="item-form">
                        <app-input
                                [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                [errorMessage]="'La description de l\'étape est obligatoire'"
                                [error]="hasError('description', 'required')"
                                [idInput]="'{{i}}'"
                                [id]="'description'"
                                [inputFormControl]="getControl(etape, 'description')!"
                                [nameInput]="'Description Etape ' + (i+1)"
                                [placeholder]="'Description de l\'étape ' + (i+1)"
                                [required]="true"
                                [type]="'textarea'"
                                formControlName="description">
                            <app-input-label class="font-bold">Description Etape {{i + 1}}</app-input-label>
                        </app-input>
                    </div>
                    <div class="item-form">
                        <app-input-select
                                [bindLabel]="'label'"
                                [bindValue]="'label'"
                                [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                [clearable]="true"
                                [errorMessage]="'Liste des documents obligatoire'"
                                [hasLabel]="true"
                                [id]="'documents'"
                                [inputFormControl]="getControl(etape, 'documents')!"
                                [multiple]="true"
                                [options]="options"
                                [required]="false"
                        >
                            <label class="font-bold">Documents Etape {{i + 1}}</label>
                        </app-input-select>
                    </div>
                    <div class="item-form">
                        <app-input
                                [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                [clearable]="false"
                                [errorMessage]="'Le lien est obligatoire'"
                                [error]="hasError('lien', 'required')"
                                [hideLabel]="false"
                                [idInput]="'lien ' + i"
                                [inputFormControl]="getControl(etape, 'lien')!"
                                [id]="'lien ' + i"
                                [nameInput]="'Lien Etape ' + (i+1)"
                                [placeholder]="'Lien de l\'étape ' + (i+1)"
                                [minLength]="'5'"
                                [type]="'text'"
                                [required]="true"
                                [previewable]="true"
                                [linkText]="getControl(etape, 'lien')!.value"
                        >
                            <app-input-label class="font-bold">Lien Etape {{i + 1}}</app-input-label>
                        </app-input>
                    </div>
                    <div class="item-form">
                        <app-input
                                [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                                [clearable]="true"
                                [error]="hasError('texte', 'required')"
                                [hideLabel]="false"
                                [idInput]="'texte ' + i"
                                [inputFormControl]="getControl(etape, 'texte')!"
                                [id]="'texte ' + i"
                                [minLength]="'5'"
                                [errorMessage]="'Le texte est obligatoire'"
                                [nameInput]="'Texte Etape ' + (i+1)"
                                [required]="false"
                                [type]="'textarea'"
                                [placeholder]="'Texte de l\'étape ' + (i+1)">
                            <app-input-label class="font-bold">Texte Etape {{i + 1}}</app-input-label>
                        </app-input>
                    </div>
                    <div class="item-form flex space-between items-center justify-center">
                        <app-button
                                (click)="deleteStep(i, c)"
                                [customClass]="'delete-btn btn btn-success text-white text-sm hover:bg-transparent'"
                                [disabled]="formData.controls.length <= 0"
                                [icon]="faTrash"
                                [title]="'Supprimer l\'étape'"
                                [tooltip]="'Supprimer l\'étape'"
                        ></app-button>

                    </div>
                </div>
            </div>
            <div class="item-form flex space-between items-center justify-center">
                <!-- submit -->
                <app-button (save)="submit()"
                            [customClass]="'btn btn-success text-white text-sm ml-5'"
                            [disabled]="!form.valid"
                            [icon]="faSave"
                            [title]="'Enregistrer'"
                            [tooltip]="'Enregistrer'"
                ></app-button>
                <app-button (save)="addStep()"
                            [customClass]="'btn btn-success text-white text-sm ml-5'"
                            [icon]="faPlus"
                            [title]="'Ajouter une étape'"
                            [tooltip]="'Ajouter une étape'"
                ></app-button>
            </div>
        </div>
    </form>
</div>