<div class="modalComponent small">
    <div class="modal-body">
        <div class="modal">
            <div class="modal-header">
                <h1 class="modal-title">Prévisualisation du lien</h1>
                <button (click)="closeLinkPreview()" aria-label="Close" class="close right" data-dismiss="modal"
                        type="button">
          <span aria-hidden="true" class="close-icon">
            <svg height="17" viewBox="794.994 121.536 11.377 11.377" width="17" xmlns="http://www.w3.org/2000/svg">
    <path d="M795.933 122.224l9.5 10M805.683 122.474l-10 9.5" fill="none" stroke="#012E47" stroke-miterlimit="10"
          stroke-width="2"/></svg>
          </span>
                </button>
            </div>

            <div class="link-preview">
                <div class="link-image">
                    <img alt="{{ preview.title }}" src="{{ preview.image }}">
                </div>
                <div class="link-content">
                    <h2 class="link-title">{{ header }}</h2>
                    <p class="link-description">{{ preview.description }}</p>
                    <a class="link-url" href="{{ preview.url }}">{{ preview.url }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
