:root {
    --c-primary: #1359a4;
    --c-primary-dark: #0c2556;
    --c-primary-light: #b7c1cd;
    --c-secondary: #5896d9;
    --c-secondary-dark: #1e5898;
    --c-important: #b93349;
    --c-important-dark: #a12d40;
    --c-protected: #d87A58;
    --c-protected-dark: #8d3c0d;
    --c-reset: #242d3c;
    --c-reset-dark: #161b25;
    --c-disabled: #afafaf;
    --c-disabled-dark: #888888;
    --c-success: #00c6ad;
    --c-text: #404040;
    --c-info: #000091;

    --p-button: 1rem;
    --p-input-label: 0.9rem;
    --p-input-value: 0.9rem;
    --p-champlecture-label: .85em;
    --p-champlecture-value: .813rem;
    --p-text: .813rem;
}

/* ****** INPUT COMPONENT ( AVEC GESTION DES ERREURS ) ******** */

.inputComponent p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 0.85em;
}

.inputComponent span {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: block;
    position: relative;
}

.inputComponent p.input-invalid > span, .inputComponent p.input-warning > span {
    margin-bottom: 3em;
}

.inputComponent p > span:not(.unite):not(.clear)::before {
    position: absolute;
    display: block;
    content: " ";
    top: 4px;
    left: 0.3rem;
    width: 3px;
    height: calc(100% - 7px);
    background-color: var(--c-secondary);
    z-index: 2;
}

.inputComponent label {
    width: 100%;
}

.inputComponent label span:not(.warning):not(.error):not(.help) {
    display: inline-block;
    width: auto;
}

.inputComponent span.unite {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.inputComponent input[type="text"], .inputComponent input[type="number"], .inputComponent input[type="file"], .inputComponent input[type="password"] {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #e3e3e3;
    padding: 0.5rem;
    color: #686868;
    border-radius: 2px;
    position: relative;
    padding-left: 10px;
}

.inputComponent input[type="text"]:focus, .inputComponent input[type="number"]:focus, .inputComponent input[type="file"]:focus {
    border: 1px solid var(--c-secondary);
    outline: none;
}

.inputComponent p button {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    width: 2.2em;
    height: 2.2em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.inputComponent p .noBorder button {
    border: none;
}

.inputComponent span p {
    display: none;
}

/* DISABLED */

.inputComponent p.input-disabled > span::before {
    background-color: var(--c-disabled-dark);
}

.inputComponent .input-disabled input {
    background-color: var(--c-disabled);
}

/* SELECTED COMPONENTS */
.selectComponent span:not(.required) {
    display: block;
    position: relative;
}

.selectComponent p > span::before, .selectComponent > p > span:not(.required)::before {
    position: absolute;
    display: block;
    content: "";
    top: 4px;
    left: 0.3rem;
    width: 3px;
    height: calc(100% - 7px);
    background-color: #5796d9;
    z-index: 2;
}

.selectComponent select {
    width: 100%;
    padding-left: .75em;
    background-position: calc(100% - 10px), calc(100%);
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 2.3rem;
}

.selectComponent select option {
    width: 100%;
}

.selectComponent select:focus {
    background-position: calc(100% - 10px), calc(100%);
    background-repeat: no-repeat;
    outline: 0;
}

.selectComponent > p > span {
    position: relative;
    /*overflow: hidden;*/
}

.selectComponent span.pointer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2em;
    border-right: 1px solid #e3e3e3;
}

.selectComponent span.pointer:before {
    width: 0;
    height: 0;
    content: " ";
    position: absolute;
    right: 10px;
    top: 14px;
    left: auto;
    background-color: transparent;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.selectComponent select:focus ~ span.pointer {
    border-right: 1px solid #5896d9;
}

.selectComponent select:focus ~ span.pointer:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/* Disabled */
.selectComponent .input-disabled > span:before {
    background-color: #b9b9b9;
}

.selectComponent .input-disabled select {
    background-color: #e3e3e3;
}

/* ****** BUTTON COMPONENT ******** */
.buttonComponent {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.buttonComponent li input {
    padding: 0.7em 1rem;
}

.k-buttons-bar {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.k-buttons-bar li {
    list-style-type: none;
    margin: 0 0.7em;
}

.k-buttons-bar li input {
    padding: 0.7em 1rem;
}

.highlight-bt, .secondary-bt, .disabled-bt, .reset-bt, .important-bt {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.7rem 0 0 0;
}

.highlight-bt.noSpace, .secondary-bt.noSpace, .disabled-bt.noSpace, .reset-bt.noSpace, .important-bt.noSpace {
    padding: 0;
}

.highlight-bt a, .highlight-bt input, .highlight-bt button,
.secondary-bt a, .secondary-bt input, .secondary-bt button,
.disabled-bt a, .disabled-bt input, .disabled-bt button,
.reset-bt a, .reset-bt input, .reset-bt button,
.important-bt a, .important-bt input, .important-bt button,
.buttonComponent input:disabled {
    text-transform: uppercase;
    font-family: 'font-studadvice-black', sans-serif;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.5em 1rem;
    font-style: oblique;
    background: var(--c-primary);
    -webkit-box-shadow: 0px 2px 0 var(--c-primary-dark);
    box-shadow: 0px 2px 0 var(--c-primary-dark);
    border: 2px solid var(--c-primary);
    line-height: 1rem;
}

.highlight-bt a, .secondary-bt a, .disabled-bt a, .reset-bt a, .important-bt a,
.highlight-bt button, .secondary-bt button, .disabled-bt button, .reset-bt button, .important-bt button, .buttonComponent input:disabled {
    padding: 0.5em 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: var(--p-button);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.highlight-bt a:hover, .highlight-bt input:hover, .highlight-bt button:hover,
.highlight-bt a:focus, .highlight-bt input:focus, .highlight-bt button:focus {
    background: transparent;
    border: 2px solid var(--c-primary);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--c-primary);
}

.secondary-bt a, .secondary-bt input, .secondary-bt button {
    background: var(--c-secondary);
    -webkit-box-shadow: 0px 2px 0 var(--c-secondary-dark);
    box-shadow: 0px 2px 0 var(--c-secondary-dark);
    border: 2px solid var(--c-secondary);
    font-size: .875rem;
}

.secondary-bt a:hover, .secondary-bt input:hover, .secondary-bt button:hover,
.secondary-bt a:focus, .secondary-bt input:focus, .secondary-bt button:focus {
    background: transparent;
    border: 2px solid var(--c-secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--c-secondary);
}

.disabled-bt a, .disabled-bt input, .disabled-bt button,
.buttonComponent input:disabled, .buttonComponent button:disabled,
.highlight-bt button:disabled, .highlight-bt input:disabled,
.secondary-bt button:disabled, .secondary-bt input:disabled {
    background: var(--c-disabled);
    -webkit-box-shadow: 0px 2px 0 var(--c-disabled-dark);
    box-shadow: 0px 2px 0 var(--c-disabled-dark);
    border: 2px solid var(--c-disabled);
    color: var(--c-disabled-dark);
}

.buttonComponent input:disabled, .buttonComponent button:disabled {
    text-align: center;
    margin: 2rem 0 1rem 0;
    padding: 0.5em 1rem;
    background: var(--c-disabled);
    -webkit-box-shadow: 0px 2px 0 var(--c-disabled-dark);
    box-shadow: 0px 2px 0 var(--c-disabled-dark);
    border: 2px solid var(--c-disabled);
    color: var(--c-disabled-dark);
}

.disabled-bt input:disabled, .disabled-bt button:disabled,
.highlight-bt input:disabled, .highlight-bt button:disabled {
    margin: 0;
}

.disabled-bt a:hover, .disabled-bt input:hover, .disabled-bt button:hover,
.highlight-bt input:disabled:hover, .highlight-bt button:disabled:hover,
.secondary-bt input:disabled:hover, .secondary-bt button:disabled:hover,
button:disabled {
    cursor: Not-Allowed;
}

.reset-bt a, .reset-bt input, .reset-bt button {
    background: var(--c-reset);
    -webkit-box-shadow: 0px 2px 0 var(--c-reset-dark);
    box-shadow: 0px 2px 0 var(--c-reset-dark);
    border: 2px solid var(--c-reset);
}

.reset-bt a:hover, .reset-bt input:hover, .reset-bt button:hover,
.reset-bt a:focus, .reset-bt input:focus, .reset-bt button:focus {
    background: transparent;
    border: 2px solid var(--c-reset-dark);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--c-reset-dark);
}

.important-bt a, .important-bt input, .important-bt button {
    background: var(--c-important);
    -webkit-box-shadow: 0px 2px 0 var(--c-important-dark);
    box-shadow: 0px 2px 0 var(--c-important-dark);
    border: 2px solid var(--c-important);
}

.important-bt a:hover, .important-bt input:hover, .important-bt button:hover,
.important-bt a:focus, .important-bt input:focus, .important-bt button:focus {
    background: transparent;
    border: 2px solid var(--c-important);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--c-important);
}