<p [ngClass]="{'input-disabled':isDisabled(), 'input-invalid':error, 'input-waring':warning}">
    <label for="{{id}}">
        {{label}}
        <span *ngIf="required" class="required">*</span>
        <span *ngIf="aideSaisie" class="help">{{aideSaisie}}</span>
    </label>
    <span>
        <span *ngIf="error" class="error">{{errorMessages}}</span>
        <!-- warning -->
        <span *ngIf="warning" class="warning">{{warningMessages}}</span>
        <!-- custom input -->
        <input
            #password
            [attr.aria-invalid]="error ? true : false"
            [attr.aria-required]="required ? true : false"
            [formControl]="inputFormControl"
            [id]="id"
            name="{{nameInput}}"
            placeholder="{{placeholder}}"
            type="password"
        >
        <button
                (click)="togglePassword($event)"
                class="icon-password"
        >
            <fa-icon [icon]="faEye"></fa-icon>
        </button>
    </span>
    <button *ngIf="btnClass" [attr.aria-label]="tooltipAria" [ngClass]="btnClass"
            matTooltip="{{tooltipLabel}}" matTooltipClass="{{tooltipClass}}"
            matTooltipHideDelay="{{tooltipDelay}}">{{btnLabel}}</button>
</p>
