<div class="modalComponent small">
    <div class="modal-body">
        <div class="modal">
            <div class="modal-header">
                <h1 class="modal-title">{{'AJOUTER UN DOCUMENT' | translate}}</h1>
                <button (click)="closeDocumentPopup()" aria-label="Close" class="close right" data-dismiss="modal"
                        type="button">
          <span aria-hidden="true" class="close-icon">
            <svg height="17" viewBox="794.994 121.536 11.377 11.377" width="17" xmlns="http://www.w3.org/2000/svg">
    <path d="M795.933 122.224l9.5 10M805.683 122.474l-10 9.5" fill="none" stroke="#012E47" stroke-miterlimit="10"
          stroke-width="2"/></svg>
          </span>
                </button>
            </div>
            <!--  titre -->
            <form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form" class="container studadvice box-mainLook">
                <div class="item-form">
                    <app-input
                            [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                            [clearable]="true"
                            [errorMessage]="'Le titre est obligatoire'"
                            [error]="hasError('title', 'required')"
                            [hideLabel]="false"
                            [idInput]="'title'"
                            [id]="'title'"
                            [inputFormControl]="getFormControl('name')!"
                            [minLength]="'5'"
                            [nameInput]="'Titre'"
                            [placeholder]="'Titre du document'"
                            [required]="true"
                            [type]="'text'"
                    >
                        <app-input-label class="font-bold">Titre</app-input-label>
                    </app-input>
                </div>
                <!--  Description -->
                <div class="item-form">
                    <app-input
                            [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                            [clearable]="true"
                            [errorMessage]="'La description est obligatoire'"
                            [error]="hasError('description', 'required')"
                            [hideLabel]="false"
                            [idInput]="'title'"
                            [id]="'title'"
                            [inputFormControl]="getFormControl('description')!"
                            [minLength]="'5'"
                            [nameInput]="'Description'"
                            [placeholder]="'Description du document'"
                            [required]="true"
                            [type]="'text'"
                    >
                        <app-input-label class="font-bold">Description</app-input-label>
                    </app-input>
                </div>
                <!--  Lien -->
                <div class="item-form">
                    <app-input
                            [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                            [clearable]="true"
                            [errorMessage]="'Le lien est obligatoire'"
                            [error]="hasError('link', 'required')"
                            [hideLabel]="false"
                            [idInput]="'title'"
                            [id]="'title'"
                            [inputFormControl]="getFormControl('link')!"
                            [minLength]="'5'"
                            [nameInput]="'Lien'"
                            [placeholder]="'Lien du document'"
                            [required]="true"
                            [type]="'text'"
                    >
                        <app-input-label class="font-bold">Lien</app-input-label>
                    </app-input>
                </div>

                <div class="item-form flex space-between items-center justify-center">
                    <app-button #submitButton (save)="submit()"
                                [customClass]="'btn'"
                                [disabled]="!form.valid"
                                [icon]="faSave"
                                [title]="'Enregistrer'"
                                [tooltip]="'Enregistrer'"
                    ></app-button>
                </div>
            </form>
        </div>
    </div>
</div>
