<div class="main-content">
    <h2 class="text-2xl m-0 mb-5 mt-8 font-bold">{{'_ADD_CATEGORY_' | translate}}</h2>
    <form *ngIf="form" [formGroup]="form" class="container studadvice box-mainLook">
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'Le titre est obligatoire'"
                    [error]="hasError('name', 'required')"
                    [hideLabel]="false"
                    [idInput]="'name'"
                    [id]="'name'"
                    [inputFormControl]="getFormControl('name')!"
                    [minLength]="'5'"
                    [nameInput]="'Titre'"
                    [placeholder]="'Titre de la catégorie'"
                    [required]="true"
                    [type]="'text'"
            >
                <app-input-label class="font-bold">Titre</app-input-label>
            </app-input>
        </div>
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'La description est obligatoire'"
                    [error]="hasError('description', 'required')"
                    [hideLabel]="false"
                    [idInput]="'description'"
                    [id]="'description'"
                    [inputFormControl]="getFormControl('description')!"
                    [minLength]="'5'"
                    [nameInput]="'description'"
                    [placeholder]="'Description de la catégorie'"
                    [required]="true"
                    [type]="'text'"
            >
                <app-input-label class="font-bold">Description</app-input-label>
            </app-input>
        </div>
        <!-- image -->
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [hideLabel]="false"
                    [idInput]="'image'"
                    [id]="'image'"
                    [inputFormControl]="getFormControl('image')!"
                    [nameInput]="'Image'"
                    [placeholder]="'Image de la catégorie'"
                    [required]="true"
                    [errorMessage]="'L\'image est obligatoire'"
                    [type]="'file'"
                    [accept]="'image/*'"
                    (change)="handleFileChange($event)"
            >
                <app-input-label class="font-bold">Image</app-input-label>
            </app-input>
        </div>
        <!-- Ajout d'une procédure -->
        <div class="item-form">
            <app-input-select
                    [bindLabel]="'label'"
                    [bindValue]="'value'"
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [errorMessage]="'La démarche est obligatoire'"
                    [hasLabel]="true"
                    [id]="'demarche'"
                    [inputFormControl]="getFormControl('administrativeProcesses')!"
                    [options]="administrativeProcesses"
                    [required]="false"
                    [multiple]="true"
            >
                <label class="font-bold">Ajout d'une démarche</label>
            </app-input-select>
        </div>
        <div class="item-form">
            <app-input
                    [class]="'mat-tooltip-trigger ng-valid ng-touched ng-dirty ng-pristine'"
                    [clearable]="true"
                    [hideLabel]="false"
                    [idInput]="'color'"
                    [id]="'color'"
                    [inputFormControl]="getFormControl('color')!"
                    [nameInput]="'Couleur'"
                    [placeholder]="'Couleur de la catégorie'"
                    [required]="true"
                    [errorMessage]="'La couleur est obligatoire'"
                    [type]="'text'"
            >
                <app-input-label class="font-bold">Couleur</app-input-label>
            </app-input>
        </div>
        <div class="item-form flex space-between items-center justify-center">
            <app-button #submitButton (save)="submit()"
                        [customClass]="'btn'"
                        [disabled]="!form.valid"
                        [icon]="faSave"
                        [title]="'Enregistrer'"
                        [tooltip]="'Enregistrer'"
            ></app-button>
        </div>
    </form>
</div>