@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
    height: 100%;
}


/* --------------------------------------------------------------------
*	RESET
-------------------------------------------------------------------- */

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figcaption, figure, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

article, aside, figure, footer, header, main, nav, section {
    display: block
}

[class^=ic-] {
    text-indent: -9000px;
    overflow: hidden;
    display: inline-block
}

body {
    color: #686868;
    background: #ededed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative
}

main h2 {
    text-transform: uppercase;
    color: #777777;
    font-size: 2em;
    font-weight: normal;
    text-shadow: 0 0 3px #fff;
    margin-bottom: 1em
}

main h3 {
    text-transform: uppercase;
    color: #000;
    font-size: 1.1em;
    font-weight: normal;
    margin: -2.2em auto 0 -0.9em;
    background: #fff;
    display: table;
    padding: 0.5em 1em;
    z-index: 1;
    position: relative;
}

p,
li,
dt,
dd {
    font-size: 0.813rem;
}

li p,
li dt,
li dd,
li li {
    font-size: 100%;
}

a,
a:link {
    color: #5896d9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

.item-form {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.label, .listFieldset legend, label {
    display: block;
    font-family: font-axone-black, sans-serif;
    margin-bottom: 0.2rem;
    position: relative;
    font-size: var(--p-input-label);
    line-height: .9rem;
    color: var(--c-text);
    margin-top: 0.7rem;
}

.inputComponent .no-txt-info label,
.multipleSelectWidget .no-txt-info label,
.textareaComponent .no-txt-info label,
.selectComponent .no-txt-info label,
.referentielWidget .no-txt-info label,
.selectInputComponent .no-txt-info label,
.dbSelectComponent .no-txt-info label,
.textareaComponent.disabledTextArea.no-txt-info label {
    padding-bottom: 11px;
}

input[type="text"],
main input[type="password"],
select, ng-select,
input[type="date"],
textarea {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #e3e3e3;
    padding: 0.5em;
    color: #686868;
    border-radius: 2px;
    position: relative;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus, ng-select:focus,
ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input input:focus,
input[type="date"]:focus,
textarea:focus {
    border: 1.5px solid #5896d9;
    outline: none;
}

span.required {
    position: relative;
    top: -0.3em;
    display: inline-block;
    color: #b93349;
    font-size: 1.063rem;
    line-height: .5em;
}

/* ****** TEXTE AREA *******
**** (texte multi ligne ***** */

.textareaComponent textarea {
    padding-left: 10px;
}

.textareaComponent p.input-invalid > span:not(.prefix), .textareaComponent p.input-warning > span:not(.prefix) {
    margin-bottom: 3em;
}

.textareaComponent span:not(.required) {
    display: block;
    position: relative;
}

.textareaComponent p > span::before {
    position: absolute;
    display: block;
    content: "";
    top: 6px;
    left: 0.3rem;
    width: 3px;
    height: calc(100% - 13px);
    background-color: var(--c-secondary);
    z-index: 100;
}

/* DISABLED */

.textareaComponent p.input-disabled span::before {
    background-color: #b9b9b9;
}

.textareaComponent p.input-disabled textarea {
    background-color: var(--c-disabled);
}

/** MAIN STYLE **/
.item-form {
    padding: 1em;
}

.main-content {
    padding-top: 5em;
    padding-left: 15em;
    min-height: 100vh;
}

.studadvice {
    width: 100%;
    /*max-width: */
    margin: auto;
}

/* ****** MODAL ******* */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;
    left: 0;
    bottom: 0;
}

.modalComponent {
    z-index: 1000;
}

.modal-body {
    padding: 15px;
    background-color: #fff;
    margin: 20px;
}

.modalComponent .modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
    margin-bottom: 0.2rem;
    border-bottom: 3px solid #1359a4;
}

.modalComponent .modal-header h1 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #1359a4;
    text-transform: uppercase;
    flex: 2;
}

.modalComponent .modal-header button.close {
    font-size: 1.5rem;
    /*background-image: url("assets/img/close.svg");*/
    transition: all 0.3s ease 0s;
}

.modalComponent .modal-header button.close:hover, .modalComponent .modal-header button.close:focus {
    transform: rotate(180deg);
}

.modalComponent .modal-body {
    max-height: calc(100vh - 15rem);
    overflow: auto;
}

.modal-open {
    overflow: hidden;
}