<main *ngIf="documents.length > 0" class="main-content" role="main">
    <h2 class="text-2xl m-0 mb-5 font-bold">{{'_TABLE_DOCUMENTS_' | translate}}</h2>
    <div class="bg-white shadow-md rounded my-6 box-mainLook">
        <table class="min-w-full border-collapse table">
            <thead class="thead-light">
            <tr>
                <th class="py-2 px-4 border-b text-xs uppercase tracking-wider">
                    {{'_NAME_' | translate}}
                </th>
                <th class="py-2 px-4 border-b text-xs uppercase tracking-wider">
                    {{'_DESCRIPTION_' | translate}}
                </th>
                <th class="py-2 px-4 border-b text-xs uppercase tracking-wider">
                    {{'_ACTION_' | translate}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents; let i = index" [attr.data-index]="i">
                <td class="py-2 px-4 border-b border-gray-200 text-sm center">{{document.name}}</td>
                <td class="py-2 px-4 border-b border-gray-200 text-sm center">{{document.description}}</td>
                <td class="py-2 px-4 border-b border-gray-200 text-sm  center">
                    <button (click)="editAction(document)" class="btn btn-primary">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
<!--        <div class="pagination-container">-->
<!--            <app-pagination-->
<!--                    [totalItems]="totalItems"-->
<!--                    [itemsPerPage]="itemsPerPage"-->
<!--                    (pageChanged)="pageChanged($event)">-->
<!--            </app-pagination>-->
<!--        </div>-->
    </div>
</main>

<main *ngIf="documents.length === 0" class="main-content" role="main">
    <h2 class="text-2xl m-0 mb-5 font-bold">{{'_TABLE_DOCUMENTS_' | translate}}</h2>
    <div class="bg-white shadow-md rounded my-6 box-mainLook">
        <p class="table-empty">{{'_NO_DOCUMENTS_' | translate}}</p>
    </div>
</main>